<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus in mollitia maxime, qui nobis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ea voluptatibus placeat nesciunt facilis dicta accusamus. Corporis nobis eaque cupiditate!</p>
    <a href="https://www.faztweb.com" target="_blank" class="btn btn-primary">FaztWeb</a>
</div>
